.wrapper{

}
.navBar{
background-color: pink;
}
.sideBar{
background-color: aqua;
}
.leftside{
background-color: blueviolet;
}
.main{

}
.wrapContain{

}
.contain1{

}
.contain2{
    
}
.contain3{
    
}
.footer{
background-color: green;
}